<!-- jquery cdn -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>
   
</script>
<div class="container">
     <div class="m-5 p-5">
         <div class="row p-5">
             <div class="col-12">
                 <h2 class="">Login Here</h2>
             </div>
             <div class="col-12">
                 <div class="form-group">
                     <label for="">UserName</label>
                     <input type="text" class="form-control" name="" id="user" aria-describedby="helpId" placeholder="">
                 </div>
             </div>
             <div class="col-12">
                 <div class="form-group">
                     <label for=""> Password</label>
                     <input type="text" class="form-control" name="" id="pass" aria-describedby="helpId" placeholder="">
                 </div>
             </div>
         </div>
         <div class="row ml-5 pl-5">
             <div class="col">
                 <button type="button" name="" id="login" class="btn btn-primary" btn-lg btn-block">Login</button>
             </div>
         </div>
     </div>
</div>